- content_for(:title) do
  Mijn metingen
  &ndash;
  Detailgrafiek

- content_for :scripts do
  :javascript
    $(function () {
      var options1 = {
          chart: {
            zoomType: 'x',
            renderTo: 'container1',
            events: {
              load: function (e) {
                if (typeof(Storage) !== "undefined") {
                  // Reload series visibility from localstorage
                  var chart = e.target;
                  var series = chart.series;
                  var series_length = series.length;
                  for (var i = 0; i < series_length; i++) {
                    var series_visible = localStorage.getItem("daily_series_" + i + "_visible");
                    if (series_visible == "hidden") {
                      series[i].setVisible(false);
                    } else {
                      series[i].setVisible(true);
                    }
                  }
                }
              }
            }
          },
          title: {
            text: 'PM 10 en PM 2.5 ratio'
          },
          subtitle: {
              text: document.ontouchstart === undefined ?
                      'Klik en sleep in de grafiek om in te zoomen' : 'Knijp de grafiek om in te zoomen'
          },
          plotOptions: {
            series: {
              events: {
                legendItemClick: function (e) {
                  if (typeof(Storage) !== "undefined") {
                    var series = e.target;
                    if (series.visible) {
                      localStorage.setItem("daily_series_" + series.index + "_visible", "hidden");
                    } else {
                      localStorage.removeItem("daily_series_" + series.index + "_visible");
                    }
                  }
                }
              }
            }
          },
          xAxis: {
            type: 'datetime',
            title: {
              text: 'Tijdstip'
            },
            dateTimeLabelFormats: {
              day: '%a %e %b'
            },
            crosshair: true
          },
          yAxis: {
            labels: {
              format: '{value} %',
              style: {
                  color: Highcharts.getOptions().colors[1]
              }
            },
            title: {
                text: 'Ratio'
            }
          },
          tooltip: {
            shared: true,
            valueDecimals: 2,
            dateTimeLabelFormats: {
              millisecond: "%A, %b %e, %H:%M:%S.%L",
              second: "%A, %b %e, %H:%M:%S",
              minute: "%A, %b %e, %H:%M",
              hour: "%A %e %b %H:%M",
              day: "%A, %b %e, %Y",
              week: "Week van %A, %b %e, %Y",
              month: "%B %Y",
              year: "%Y"
            }
          },
          legend: {
            enabled: true,
            borderWidth: 1,
            align: 'center',
          },
          series: [{
            name: 'PM 10',
            type: 'line',
            data: #{@measurements.map{|m| [m.chart_datetime, m.p2_ratio]}},
            tooltip: {
              valueSuffix: ' %'
            }
          },
          {
            name: 'PM 2.5',
            type: 'line',
            data: #{@measurements.map{|m| [m.chart_datetime, m.pm25_ratio]}},
            tooltip: {
              valueSuffix: ' %'
            }
          }]
      };

      var chart1 = new Highcharts.Chart(options1);
    });

.page-header
  %h1
    Mijn metingen
    %small Detailgrafiek

.row
  .col-lg-12
    #container1{style: "min-width: 310px; height: 500px; margin: 0 auto"}
