- content_for(:title) do
  Mijn metingen
  &ndash;
  Overzicht per uur

- content_for :scripts do
  :javascript
    $(function () {
        var options1 = {
            chart: {
              zoomType: 'x',
              renderTo: 'container1'
            },
            title: {
              text: 'P1 & P2 ratio'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                        'Klik en sleep in de grafiek om in te zoomen' : 'Knijp de grafiek om in te zoomen'
            },
            xAxis: {
              type: 'datetime',
              title: {
                text: 'Tijdstip'
              }
            },
            yAxis: {
              labels: {
                formatter: function() {
                  return this.value + ' %';
                }
              },
              title: {
                  text: 'Ratio'
              }
            },
            tooltip: {
              valueDecimals: 2,
              valueSuffix: ' %',
              dateTimeLabelFormats: {
                millisecond: "%A, %b %e, %H:%M:%S.%L",
                second: "%A, %b %e, %H:%M:%S",
                minute: "%A, %b %e, %H:%M",
                hour: "%A %e %b %H:%M",
                day: "%A, %b %e, %Y",
                week: "Week van %A, %b %e, %Y",
                month: "%B %Y",
                year: "%Y"
              }
            },
            legend: {
              enabled: true,
              borderWidth: 1,
              align: 'center',
            },
            series: [{
              name: 'P1',
              color: '#ff0000',
              data: #{@average_hourly_measurements.map{|m| [m.chart_datetime, m.average_p1_ratio]}}
            },
            {
              name: 'P2',
              color: '#008000',
              data: #{@average_hourly_measurements.map{|m| [m.chart_datetime, m.average_p2_ratio]}}
            }]
        };

        var options2 = {
            chart: {
              zoomType: 'x',
              renderTo: 'container2'
            },
            title: {
              text: 'Aantal deeltjes'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                        'Klik en sleep in de grafiek om in te zoomen' : 'Knijp de grafiek om in te zoomen'
            },
            xAxis: {
              type: 'datetime',
              title: {
                text: 'Tijdstip'
              }
            },
            yAxis: {
              title: {
                  text: 'Aantal deeltjes'
              }
            },
            tooltip: {
              valueDecimals: 0,
              dateTimeLabelFormats: {
                millisecond: "%A, %b %e, %H:%M:%S.%L",
                second: "%A, %b %e, %H:%M:%S",
                minute: "%A, %b %e, %H:%M",
                hour: "%A %e %b %H:%M",
                day: "%A, %b %e, %Y",
                week: "Week van %A, %b %e, %Y",
                month: "%B %Y",
                year: "%Y"
              }
            },
            legend: {
              enabled: true,
              borderWidth: 1,
              align: 'center'
            },
            series: [{
              name: 'P1',
              color: '#ff0000',
              data: #{@average_hourly_measurements.map{|m| [m.chart_datetime, m.average_p1_count]}}
            },
            {
              name: 'P2',
              color: '#008000',
              data: #{@average_hourly_measurements.map{|m| [m.chart_datetime, m.average_p2_count]}}
            }]
        };

        var chart1 = new Highcharts.Chart(options1);
        var chart2 = new Highcharts.Chart(options2);

    });

.page-header
  %h1
    Mijn metingen
    %small Overzicht per uur

.row
  .col-lg-12
    #container1{style: "min-width: 310px; height: 500px; margin: 0 auto"}
%hr
.row
  .col-lg-12
    #container2{style: "min-width: 310px; height: 500px; margin: 0 auto"}
