- content_for(:title) do
  Het dustProof.be team

.page-header
  %h1 Het dustProof.be team

.row
  .col-md-6
    %h2 Luc Janssens
    %p
      Ik ben fotograaf van opleiding. Analoge fotografie is een combinatie van
      techniek en creativiteit. Twee zaken die je ook heel belangrijk zijn bij
      het ontwerpen van digitale elektronica. In 1980 soldeerde ik mijn eerste
      computer-bouwpakket in elkaar en leerde programmeren. In 1998 resulteerde
      dit in een baan bij de invoerder van Psion en later bij de fabrikant van
      de industriële Psion Teklogix mobiele industriële handcomputers.
      %br
      Nu ik op pensioen ben heb ik de tijd om me helemaal uit te leven in
      fotografie en elektronica projecten, zoals een fijn-stof-meter.

  .col-md-6
    %h2 Michael Smith
    %p
      Ik ben programmeur en systeembeheerder en al meer dan 20 jaar
      gepassioneerd door computers en technologie.
      %br
      Mijn professionele ervaring
      met het bouwen van webapplicaties komt goed van pas in dit boeiende
      project.
      %br
      Meer informatie over mij en mijn professionele activiteiten vindt je op
      = succeed "." do
        = link_to "michaelsmith.be", "https://michaelsmith.be", target: "_blank"

.row
  .col-lg-12{style: "height: 200px;"}
    &nbsp;
