- content_for(:title) do
  Het DustProof team

.page-header
  %h1 Het DustProof team

.row
  .col-md-6
    %h2 Luc Janssens
    %ul
      %li= link_to "https://fotogordon.wordpress.com", "https://fotogordon.wordpress.com", target: "_blank"

  .col-md-6
    %h2 Michael Smith
    %ul
      %li= link_to "https://michaelsmith.be", "https://michaelsmith.be", target: "_blank"
