.page-header
  %h1 Het DustProof team

%h2 Luc Janssens
%ul
  %li= link_to "https://fotogordon.wordpress.com", "https://fotogordon.wordpress.com", target: "_blank"

%h2 Michael Smith
%ul
  %li= link_to "http://michaelsmith.be", "http://michaelsmith.be", target: "_blank"
