.page-header
  %h1 DustProof richtlijnen

.row
  .col-md-6
    %h2 Laagdrempelig
    %ul
      %li
        Eenvoudig in
        %ul
          %li ontwerp
          %li constructie
          %li gebruik
      %li De kostprijs van de onderdelen moet onder de € 50 liggen.
  .col-md-6
    %h2 Open source
    %ul
      %li Alle software die voor het project ontwikkeld wordt, moet vrij,
      gratis en voor iedereen beschikbaar zijn
      %li Van alle hardware moet de documentatie vrij, gratis en voor iedereen
      beschikbaar zijn

.row
  .col-md-6
    %h2 Software moet
    %ul
      %li Goed gedocumenteerd zijn
      %li
        Zo eenvoudig mogelijk zijn
        %ul
          %li
            Begrijpbaar voor iedereen die Arduino code kan schrijven,
            zonder bijkomende kennis van C/C++
  .col-md-6
    %h2 Hardware moet
    %ul
      %li
        Goed gedocumenteerd zijn
        %ul
          %li Alle schema’s en/of PCB ontwerpen moeten vrij beschikbaar zijn
      %li Zo eenvoudig mogelijk zijn

.row
  .col-md-6
    %h2 Behuizing
    %ul
      %li
        Goed gedocumenteerd
        %ul
          %li Alle bouwschema’s en ontwerpen moeten vrij beschikbaar zijn
      %li Zo eenvoudig mogelijk zijn

  .col-md-6
    %h2 Standaard 5 volt (USB) voeding
    %ul
      %li Standaard GSM adapter met eventueel andere stekker moet kunnen
