.page-header
  %h1 DustProof richtlijnen

.row
  .col-md-6
    %h2 Laagdrempelig
    %ul
      %li
        Eenvoudig
        %ul
          %li Ontwerp
          %li Constructie
          %li Gebruik
      %li Kostprijs van de onderdelen moet onder de 50€ liggen.

    %h2 Open source
    %ul
      %li Alle software, die voor het project ontwikkeld, moet vrij en gratis, voor iedereen,beschikbaar zijn
      %li Van alle hardware moet de documentatie vrij en gratis, voor iedereen,beschikbaar zijn

    %h2 Software moet
    %ul
      %li Goed gedocumenteerd zijn
      %li
        Zo eenvoudig mogelijk zijn
        %ul
          %li
            Begrijpbaar voor iedereen die Arduino code kan schrijven,
            zonder bijkomende kennis van C/C++

  .col-md-6
    %h2 Hardware moet
    %ul
      %li
        Goed gedocumenteerd zijn
        %ul
          %li Alle schema’s en/of PCB ontwerpen moeten vrij beschikbaar zijn
      %li Zo eenvoudig mogelijk zijn

    %h2 Behuizing
    %ul
      %li
        Goed gedocumenteerd
        %ul
          %li Alle bouwschema’s en ontwerpen moeten vrij beschikbaar zijn
      %li Zo eenvoudig mogelijk/

    %h2 Standaard 5 volt (USB) voeding
    %ul
      %li Standaard GSM adapter met eventueel andere stekker moet kunnen

    %h2 De prijs van de onderdelen moet onder de € 50 liggen
