- content_for(:title) do
  dustProof.be richtlijnen

.page-header
  %h1 dustProof.be richtlijnen

.row
  .col-md-4
    %h2 Laagdrempelig
    %ul
      %li
        Eenvoudig na te bouwen door eenvoud in
        %ul
          %li ontwerp
          %li constructie
          %li gebruik
      %li De kostprijs van de onderdelen moet onder de € 50 liggen.
  .col-md-4
    %h2 Open source
    %ul
      %li Alle soft- en hardware die voor het project ontwikkeld wordt,
      moet vrij, gratis en voor iedereen, zonder commerciële bedoelingen,
      beschikbaar zijn.
      %li Alle soft- en hardware moet goed gedocumenteerd en zo eenvoudig
      mogelijk zijn. Begrijpbaar voor iedereen die Arduino code kan schrijven,
      zonder bijkomende kennis van C/C++

  .col-md-4
    %h2 Standaard 5 volt (USB) voeding
    %ul
      %li Standaard GSM adapter
