.page-header
  %h1 Hoe?

.row
  .col-md-8
    %p
      Het meten van fijn stof gebeurt in drie stappen: Detecteren van de stofdeeltjes, bewaren van de meetgegevens en tenslotte verwerken van de data.

    %h2 Detecteren
    %p
      Een sensor detecteert stofdeeltjes in een luchtstroom. De tijdsverhouding
      tussen het wel en niet aanwezig zijn van stofjes geeft de concentratie aan.
      Fijn stof is ongelijkmatig verdeeld en elke meting van 30 seconden
      is een momentopname.
      Want gedurende de volgende 30 seconden kunnen er merkelijk meer of
      minder deeltjes passeren.

    %h2 Bewaren
    %p
      Het doel van je metingen zal bepalen of je de data op een geheugenkaart of
      op een server wil bewaren.
      Een geheugenkaart zal eerder geschikt zijn voor persoonlijk gebruik
      van één sensor, terwijl een server meer geschikt lijkt voor gebruik
      door meerdere personen van meerdere sensoren.

    %h3 Verwerking
    %p
      Statistiek en grafieken om de cijfertjes in de juiste context te plaatsen
      en begrijpelijk te maken voor de doelgroep.
