/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require font-awesome
 *= require_self
*/

footer {
  margin-top: 50px;
}

.nowrap {
  white-space: nowrap;
}

.logo {
  margin-top: 5px;
}

.jumbotron a:hover, .jumbotron a:focus {
  text-decoration: none;
}

.no-hover {
    display: block;
    /* 4:3 aspect ratio */
    padding-top: 75%;
    /* center align pt. 1 */
    position: relative;
}

.no-hover > .text-center {
    /* fit within container */
    max-width: 100%;
    max-height: 100%;
    /* center align pt. 2 */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100px;
}

.no-hover:hover {
    text-decoration: none;
}

.no-hover:focus {
    text-decoration: none;
}

.thumbnail > a {
    display: block;
    /* 4:3 aspect ratio */
    padding-top: 75%;
    /* center align pt. 1 */
    position: relative;
}

.thumbnail > a > img {
    /* fit within container */
    max-width: 100%;
    max-height: 100%;
    /* center align pt. 2 */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
