%p Hallo #{@resource.email}!
%p Iemand heeft een link aangevraagd om een nieuw wachtwoord te kiezen. Ja kan dit via onderstaande link.
%p= link_to 'Kies een nieuw wachtwoord', edit_password_url(@resource, reset_password_token: @token)
%p Als u dit verzoek niet heeft ingediend, negeer dan deze e-mail.
%p Uw wachtwoord verandert niet tot u bovenstaande link volgt en een nieuw wachtwoord kiest.
