- content_for(:title) do
  LoRa metrics
  &ndash;
  Overzicht per uur

- content_for :scripts do
  :javascript
    $(function () {
        $("#q_device_eui_eq").on("change", function(){
          $("#lora_metric_search")[0].submit();
        });

        var options1 = {
            chart: {
              zoomType: 'x',
              type: 'column',
              renderTo: 'container1'
            },
            title: {
              text: 'LoRa pakketverlies'
            },
            xAxis: {
              type: 'datetime',
              title: {
                text: 'Tijdstip'
              },
              dateTimeLabelFormats: {
                day: '%a %e %b'
              }
            },
            yAxis: {
              title: {
                  text: 'Verloren pakketten'
              }
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            tooltip: {
              valueDecimals: 0,
              dateTimeLabelFormats: {
                millisecond: "%A, %b %e, %H:%M:%S.%L",
                second: "%A, %b %e, %H:%M:%S",
                minute: "%A, %b %e, %H:%M",
                hour: "%e %b %H:%M",
                day: "%A, %b %e, %Y",
                week: "Week van %A, %b %e, %Y",
                month: "%B %Y",
                year: "%Y"
              }
            },
            legend: {
              enabled: false
            },
            series: [{
              name: 'Verloren pakketten',
              data: #{@lora_metrics.map{|m| [m.chart_datetime, m.hourly_lost_packets]}}
            }]
        };

        var chart1 = new Highcharts.Chart(options1);
    });

.page-header
  %h1
    LoRa metrics
    %small Overzicht per uur

.row
  .col-lg-12
    = search_form_for @q do |f|
      .row
        .col-sm-2
          = f.input :device_eui_eq, as: :select, collection: @device_euis, include_blank: false, input_html: { class: "input-sm" }, required: false, label: "Select device EUI:"
.row
  .col-lg-12
    #container1{style: "min-width: 310px; height: 500px; margin: 0 auto"}
